@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
h4 {
  text-shadow: 1px 1px 2px black; }

/*HEADER MOBILE*/
* {
  padding: 0;
  margin: 0; }

.header__logo {
  height: 10em;
  width: 20em;
  margin: 0;
  padding: 0; }

.header__consulta {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: solid 0.2em #cba776;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 2em; }

.header__btn {
  background: #cba776;
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1em;
  padding: 0.3em;
  margin-bottom: 1em; }

.navbar-nav li:hover {
  color: white !important; }

.header__btn:hover {
  transform: scale(1.2); }

.fa-whatsapp {
  margin: 0.2em;
  margin-bottom: 0.45em;
  color: white;
  text-decoration: none; }

.navegacion, .consulta {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-weight: 400;
  animation: navegacion 1s 1; }

@keyframes navegacion {
  0% {
    color: black;
    margin-bottom: -40px;
    margin-top: -40px; } }

.practicas__btn:hover {
  transform: scale(1.2); }

.navbar-toggler {
  width: 10em;
  align-self: center;
  margin: 10px auto;
  margin-top: 0;
  padding: 0; }

.navbar-collapse {
  text-align: center; }

/*HEADER ESCRITORIO*/
@media (min-width: 700px) {
  .header__logo {
    height: 7em;
    width: 15em; }
  header {
    font-size: 1.2em;
    font-family: "Source Sans Pro";
    color: black;
    text-transform: uppercase;
    height: 7em; }
  .navbar-brand {
    display: none; }
  .navbar-nav li a {
    margin: 0.2em; }
  .navbar-nav li a:hover {
    background-color: #cba776;
    color: white !important;
    border-radius: 0.5em;
    font-weight: 500; }
  .nav-link:hover {
    color: white; } }

/*FOOTER*/
footer {
  margin-top: 7em;
  margin: 1em;
  color: #ffffff;
  background-image: url(/images/buildings2.jpeg);
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

footer::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #202020;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9;
  z-index: 0; }

footer > * {
  z-index: 10;
  position: relative; }

/*.footer__overlay {
  background-image: url(../images/buildings.jpeg);
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
}*/
footer .footer__item {
  font-size: 0.8em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bolder; }

.footer__item--links {
  padding: 0px; }

footer .footer__item--links li {
  list-style: none;
  line-height: 2.4em;
  list-style-position: unset;
  color: white; }

footer .footer__item--links li a {
  text-decoration: none;
  color: white; }

footer .footer__item--links li a:hover {
  color: #cba776;
  border-bottom: solid #cba776;
  padding-bottom: 0.3em; }

footer .fa-twitter, footer .fa-instagram, footer .fa-linkedin, footer .fa-facebook {
  text-decoration: none;
  color: white;
  margin: 1em;
  height: 2em; }

.fa:hover {
  color: #cba776; }

.map {
  margin-bottom: 1.5em; }

/*INDEX CAROUSEL MOBILE*/
.carousel-item {
  background-color: #202020;
  height: 15em;
  position: relative;
  color: white;
  background-position: center;
  background-size: cover; }

.carousel__overlay {
  background-image: url(../images/scale.jpeg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.3;
  background-position: center;
  background-size: cover; }

.carousel__overlay2 {
  background-image: url(../images/justice.jpeg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.2;
  background-position: center;
  background-size: cover; }

.carousel__overlay3 {
  background-image: url(../images/client.jpeg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.2;
  background-position: center;
  background-size: cover; }

.carousel__text--title {
  font-family: "Source Serif Pro", sans-serif;
  text-shadow: 1px 1px 1.5px #494545;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 0;
  padding: 0; }

.carousel__text--prioridad {
  font-family: "Source Serif Pro", sans-serif;
  text-shadow: 1px 1px 1.5px #494545;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600; }

.carousel__text {
  font-size: 0.7em; }

h5 {
  font-family: "Source Serif Pro", sans-serif;
  text-shadow: 1px 1px 1.5px #494545;
  text-transform: uppercase;
  font-size: 2em; }

h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 1px 1px 1.5px #494545;
  text-transform: uppercase;
  font-size: smaller; }

h3 {
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1.5px #494545; }

h6 {
  color: #cba776;
  text-transform: uppercase;
  font-family: 'Source Serif Pro', serif;
  padding: 0.5em; }

/*INDEX CAROUSEL ESCRITORIO*/
@media (min-width: 700px) {
  .carousel__text--title {
    font-size: 2.2em;
    margin: 0;
    padding: 0; }
  .carousel__text--prioridad {
    font-size: 2.4em;
    letter-spacing: 0.05em; }
  .carousel__text {
    font-size: 1.2em; } }

/*INDEX PRACTICAS MOBILE yescritorio*/
.practicas {
  height: max-content;
  text-align: center;
  margin: 3em;
  padding-top: 3em; }

.practicas__image {
  height: 3em;
  width: 3em; }

.practicas__item {
  align-content: center;
  text-align: center;
  justify-content: center;
  padding-top: 0.4em;
  animation: practicasItem 5s ease-out forwards; }

@keyframes practicasItem {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.practicas__btn {
  background-color: #cba776;
  color: white;
  border: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 0.3em;
  margin-top: 1.5em;
  margin: 1em;
  padding: 1em; }

@media (min-width: 700px) {
  .practicas__image {
    height: 3em;
    width: 3em; } }

/*ABOUT US escritorio y mobile*/
.aboutUs__foto {
  background-color: #202020;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.aboutUs__overlay {
  background-image: url(../images/pexels-andrea-piacquadio-3771097.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  position: absolute; }

.aboutUs__textarea {
  height: 20em;
  background-color: #fcf8f8;
  padding: 4em;
  font-family: "lato"; }

.aboutUs__text {
  font-size: 1em; }

/*numbers */
.numbers {
  margin-left: 20px;
  animation: numbers 2s 1; }

@keyframes numbers {
  0% {
    color: black;
    margin-left: -30px; }
  100% {
    margin-left: 10px; } }

.numbers__text {
  font-family: "Lato";
  font-size: 1.5em;
  font-weight: 600; }

.numbers__title {
  font-family: "Lato";
  color: #494545;
  text-transform: uppercase;
  text-shadow: 1px 1px 1.5px #494545; }

.numbers__item {
  border-left: solid #494545 0.15em;
  text-align: left;
  align-content: center;
  padding-left: 3em;
  margin: 2em; }

@media (min-width: 700px) {
  .numbers__text {
    font-family: "Lato";
    font-size: 3em;
    font-weight: 600; }
  .numbers__item {
    margin: 3em; } }

/*contacto */
.contacto__form {
  background-color: darkgrey;
  color: white;
  border-radius: 0.5em;
  line-height: 2em;
  padding: 0.3em;
  text-transform: uppercase;
  font-size: 0.9em; }

label {
  padding: 0.5em;
  width: 7em; }

.contacto__input {
  width: 20em; }

.contacto__btn {
  background-color: #cba776;
  color: white;
  border-radius: 1em;
  border: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin: 0 auto; }

.contacto__text {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 1em;
  text-shadow: 2px 2px 5px black; }

.contacto__redes {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  background-color: #f6f0f0;
  width: 24em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.contacto__redes a {
  text-decoration: none;
  color: #cba776;
  text-shadow: 2px 2px 5px #807c7c;
  margin: 0.4em;
  padding: 0.5em; }

.contacto__redes--title {
  text-transform: uppercase;
  color: #cba776;
  text-shadow: 2px 2px 2px #807c7c; }

.contacto__redes--text {
  margin-left: 2.5em;
  padding-bottom: 1em;
  color: white;
  text-shadow: 2px 2px 2px #5f5c5c; }

@media (min-width: 700px) {
  .contacto__form {
    padding: 2em;
    margin: 3em;
    margin-left: 6em;
    text-align: left;
    font-weight: 700;
    line-height: 2em; }
  .contacto__formtitle {
    font-size: 2em; }
  .contacto__item {
    margin: 1em; }
  .contacto__input {
    margin: 0.5em;
    width: 20em;
    padding: 0.1em; }
  .contacto__btn {
    margin-left: 8em; }
  .contacto__text {
    font-size: 2em;
    margin-top: 2em; }
  .contacto__redes {
    width: 24em;
    margin-left: 7em; }
  .contacto__redes--text {
    margin-left: 2.5em;
    padding-bottom: 1em; } }

/*AREAS DE PRACTICA*/
.practicas__box {
  background-color: #fffbfb;
  margin: 3em;
  animation: practicas__box 1s; }

.practicas__box:hover {
  transform: scale(1.2); }

/*registrarse*/
.registrarse__form {
  background-color: rgba(241, 241, 241, 0.74);
  font-family: "lato";
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3em; }

#submitBtn {
  margin: auto;
  background-color: #cba776;
  color: white;
  font-family: "lato";
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1em;
  text-align: center;
  display: block;
  margin: 0 auto; }

.registrarse__fa {
  color: white; }

.registrarse__facebook {
  background-color: #4267b2;
  color: white; }

.registrarse__twitter {
  background-color: #00acee;
  color: white; }

.registrarse__gmail {
  background-color: #db4a39;
  color: white; }

.registrarse__item {
  color: white;
  margin: 1em;
  text-decoration: none; }

.registrarse__redes {
  margin: 1em;
  margin-top: 3em; }

.registrarse__iniciar {
  margin-top: 3em; }

@media (min-width: 700px) {
  .registrarse__form {
    margin: 1em;
    margin-left: 6em;
    line-height: 2em; }
  .registrarse__text {
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
    font-size: 1.2em;
    font-family: "lato";
    margin-left: 5em; }
  .registrarse__title {
    margin-left: 3.5em;
    margin-bottom: 1em; }
  .form-control {
    margin-bottom: 0.5em; }
  #submitBtn {
    margin-left: 14em;
    margin-top: 1em; }
  .registrarse__image {
    background-color: #777;
    opacity: 0.8;
    position: relative;
    margin-left: 6em; }
  .registrarse__overlay {
    background-image: url(../images/registrarse.jpg);
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    position: absolute; }
  .registrarse__fa {
    color: white; }
  .registrarse__facebook {
    background-color: #4267b2;
    color: white; }
  .registrarse__twitter {
    background-color: #00acee;
    color: white; }
  .registrarse__gmail {
    background-color: #db4a39;
    color: white; }
  .registrarse__item {
    color: white;
    margin: 1em;
    text-decoration: none; }
  .registrarse__redes {
    margin: 1em;
    margin-top: 3em;
    margin-left: 7em; }
  .registrarse__iniciar {
    margin-top: 3em;
    margin-left: 13em; } }

/*PROFESIONALES*/
.profesionales__title {
  margin: 0.5em;
  text-align: center; }

.profesionales__image {
  width: 12em;
  height: 15em;
  border-radius: 0.4em;
  margin: 2em;
  box-shadow: 3px 3px 10px #f1eeee; }

.profesionales__btn {
  background-color: #f5e65f;
  color: white;
  border: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 0.3em;
  margin-top: 1.5em;
  margin: 1em;
  padding: 1em; }

.profesionales__redes a {
  text-decoration: none;
  background-color: #f5e65f;
  color: white;
  margin: 0.2em;
  padding: 1em; }

.profesionales__box {
  background-color: #fffbfb;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 3px 3px 10px #f1eeee; }

@media (min-width: 700px) {
  .profesionales__redes a {
    margin: 1em; }
  .profesionales__title {
    margin: 2em;
    text-align: center; }
  .profesionales__btn {
    background-color: #f5e65f;
    color: white;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: 600; } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff4c2; }
