/*HEADER MOBILE*/
* {
  padding: 0;
  margin: 0;
}
.header__logo {
  height: 10em;
  width: 20em; 
  margin: 0;
  padding: 0;
}
.header__consulta {
 display: flex;
 justify-content: center;
}
.header__btn {
  background: #1abe56;
  font-family: "oswald", sans-serif;
  letter-spacing: 0.05em;
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 15em;
  padding: 0.4em;
}
.navbar-nav li:hover {
  color: white!important;
}

.header__btn:hover {
  transform: scale(1.20);
}
.fa-whatsapp {
  margin: 0.2em;
  margin-bottom: 0.45em;
  color: white;
  text-decoration: none;
}
.navegacion, .consulta {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-weight: 400;   
  animation: navegacion 1s 1;
}
@keyframes navegacion {
  0% {color:black;
  margin-bottom: -40px;
  margin-top: -40px;}
}

.practicas__btn:hover {
  transform: scale(1.20);
}

.navbar-toggler {
  width: 10em;
  align-self: center;
  margin: 10px auto;
  margin-top: 0;
  padding: 0;
}

.navbar-collapse {
  text-align: center;
}

/*HEADER ESCRITORIO*/

@media(min-width:700px) {
  .header__logo {
    height: 7em;
    width: 15em;
  }
header {
  @include headerText ("Source Sans Pro",1.2em,black,uppercase);
   height: 7em;
}
.navbar-brand {
  display: none;
}
.navbar-nav li a {
  margin:0.2em;
}

.navbar-nav li a:hover {
  background-color: $importantText;
  color: white!important;
  border-radius: 0.5em;
  font-weight: 500;
}
.nav-link:hover {
  color:white;
}

}

/*FOOTER*/
footer {
  margin-top: 7em;
  margin: 1em;
  color:#ffffff;
  background-image: url(../images/buildings2.jpeg);
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

footer::after {
  content: "";
  display: block;
  width: 100%;
  height:100%;
  background-color:#202020;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9;
  z-index: 0;
}
footer > * {
  z-index: 10;
  position: relative;
}

  footer .footer__item {
    font-size: 0.8em;
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
  }

   .footer__item--links {
     padding:0px;
   } 

  footer .footer__item--links li {
    list-style: none;
    line-height: 2.4em;
    list-style-position:unset;
    color: white;
  }
  
  footer .footer__item--links li a {
    text-decoration: none;
    color: white; }
  footer .footer__item--links li a:hover {
    color: $importantText;
    border-bottom: solid $importantText;
    padding-bottom: 0.3em; }
  footer .fa-twitter, footer .fa-instagram, footer .fa-linkedin, footer .fa-facebook {
    text-decoration: none;
    color: white;
    margin: 1em;
    height: 2em;
   }
.fa:hover {
  color: $importantText;
}
   .map {
     margin-bottom: 1.5em;
   }

   