

/*HEADER MOBILE*/

.header__logo {
  height: 7em;
  width: 15em;
  margin-left: 6.8em;
}
.header__consulta {
  text-transform: uppercase;
 letter-spacing: 0.15em;
  border: solid 0.2em rgb(245, 230, 95);
  font-family: "Source Sans Pro", sans-serif;
 margin-left: 2em;
}
.header__btn {
  background: rgb(245, 230, 95);
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1em;
  padding: 0.3em;
  margin-bottom: 1em;
}

.header__btn:hover {
  transform: scale(1.20);
}
.fa-whatsapp {
  margin: 0.2em;
  margin-bottom: 0.45em;
  color: white;
  text-decoration: none;
}
.navegacion, .consulta {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-weight: 400;   
  animation: navegacion 1s 1;
}
@keyframes navegacion {
  0% {color:black;
  margin-bottom: -40px;
  margin-top: -40px;}
}

.practicas__btn:hover {
  transform: scale(1.20);
}


.navbar-toggler {
  width: 10em;
  align-self: center;
  margin: 1em;
  margin-left: 4em;
}

.navbar-collapse {
  text-align: center;

}

/*HEADER ESCRITORIO*/

@media(min-width:700px) {
  .header__logo {
    height: 7em;
    width: 15em;
  }
header {
  @include headerText ("Source Sans Pro",1.2em,black,uppercase);
   height: 7em;
}
.navbar-brand {
  display: none;
}
.navbar-nav li a {
  margin:0.2em;
}
.navbar-nav li:hover {
  color:white;
}
.navbar-nav li a:hover {
  background-color: rgb(245, 230, 95);
  color: white;
  border-radius: 0.5em;
  font-weight: 500;
}
.nav-link:hover {
  color:white;
}
}

/*FOOTER*/
footer {
  margin-top: 7em;
  margin: 1em;
  background-color:  rgb(252, 248, 248);;
  background-repeat: none;
  background-size: cover; }
  footer .footer__item {
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bolder; }
  footer .footer__item--links li {
    list-style: none;
    line-height: 2.6em; }
  footer .footer__item--links li a {
    text-decoration: none;
    color: black; }
  footer .footer__item--links li a:hover {
    color: rgb(236, 217, 39);
    border-bottom: solid rgb(236, 217, 39);
    padding-bottom: 0.3em; }
  footer .fa-twitter, footer .fa-instagram, footer .fa-linkedin, footer .fa-facebook {
    text-decoration: none;
    color: black;
    margin: 1em;
   }

   